config/deploy.rb

#Mac ignore files
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Ruby
*.gem
.bundle
.config
pkg
rdoc
test/tmp
test/version_tmp
tmp

